#background {
  background-image: url(resources/tile.png);
  background-repeat: repeat;
  height: 99.9vh;
}

.App-header {
  background-color: rgb(234, 234, 234);
  min-height: 100vh;
}
.closed {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.opened {
  max-height: 30px;
  overflow: hidden;
  transition: all 0.5s ease;
}
